.books-info{
    width: 340px;
    height: 510px;
    background-color: #eeeae5;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-family: "Metamorphous", cursive;
    color: #4e5c77;
    position: relative;
}
.books-info:hover{
    box-shadow: 10px 10px 10px 10px rgb(204, 180, 180);
}

.books-info img {
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}

.books-info h2{
    margin: 5px;
    text-align: center;
}

.books-info h2 {
    margin: 0;
}
.add-to-cart{
   display: flex;
   margin: 2px;
   width: 100%;
   border: 1px solid #435c8f;
   border-radius: 0px 0px 8px 8px;
   position: absolute;
   bottom: 0;
   justify-content: center;
   height: 40px;
   background-color: #57ac57d0;
  
}
.add-to-cart:hover{
   background-color: rgb(28, 61, 61);

}
.add-btn{
    border: none;
    font-size: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: transparent;
    cursor: pointer;
    
    
}
.add-btn:hover{
    color: #eeeae5;
    font-size: 20px;
  
}
